apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: test-chatbot-2026020501
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/tpetkos/test-chatbot-2026020501:275f5e9a6e3cfab3578b54e173ed2da2134502a7@sha256:3957ab78a3ee30b5e2b5fc12afe334412542adba13fce57573ede13f8e3a39af # use pre-built to bootstrap
          name: app-inference
